<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='{{ root_url }}/stylesheets/' rel='stylesheet' type='text/css'>
<style>
#custom_img{
}
header hgroup img{
    background-position: 0px 0px;
    opacity: 0.4;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
    top:24px;
    left:10px;
}
header hgroup img:hover{
    background-position: 0px -200px;
    opacity:1;
    left:15px;
}
.gallery img{
    width: 30%;
}
</style>
